@font-face {
    font-family: 'geist';
    src: url('GeistVF.woff2') format('woff2');}

/* general styling */

:root {
    --grey-base: #000;
    --grey-50: #0a0a0a;
    --grey-100: #171717;
    --grey-150: #191919;
    --grey-200: #262626;
    --grey-300: #373737;
    --grey-400: #525252; 
    --grey-500: #8A8A8A;
    --grey-600: #A3A3A3;
    --grey-700: #D4D4D4;
    --grey-800: #E5E5E5;
    --grey-900: #F5F5F5; 
    --grey-950: #FAFAFA;
    --accent-main: #C75146;
    --accent-sub: #0FA3B1;
    --accent-tertiary: #033F63;
}

body {
    font-family:'geist';
    background-color:var(--grey-100);
    margin:0;
    padding:0;
    color:var(--grey-700);
    font-size:1.2rem;
    line-height:160%;
}

#topbar {
    position:fixed;
    left:0;
    top:0;
    background-color:var(--grey-100);
    padding: 10px 48px;
    width:calc(100vw - 96px);
    z-index:99999999;
    display:flex;
    justify-content:space-between;
}

.right {
    display:flex;
    gap:24px;
}

.left a {
    display:flex;
    align-items:center;
    justify-content:center;
    gap:8px;
    font-size:1.5rem
}

.left a ion-icon {
    font-size:2rem;
}

#topbar a {
    font-size:1rem;
    background-color:var(--grey-100);
    border-radius:16px;
    padding:0 20px;
    text-decoration:none;
    font-weight:500;
    color:var(--grey-600);
    border:1px solid var(--grey-100);
    transition:0.3s all ease-in-out;
    text-transform:lowercase;
    letter-spacing:0.5px;
}



#topbar a:hover {
    border-color:var(--accent-main);
    background-color:var(--grey-200);
    transition:0.3s all ease-in-out;
}

#topbar a .current {
    background-color:var(--accent-main);
    border-color:var(--accent-main);
}

/* index styling */

#hero {
    width:calc(100vw - 96px);
    height:calc(100vh - 96px);
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.herogrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding:48px;
    margin-top:56px;
    margin-bottom:100px;
    }

.herogrid > div {
    background-color:var(--grey-200);
    border-radius:24px;
    overflow:hidden;
}
.div1 { 
    grid-area: 1 / 1 / 2 / 5; 
    padding:32px;
}

.div1 h1 {
    font-weight:400;
    font-size:3rem;
    line-height:120%;
    margin-bottom:200px;
}
.div2 { 
    grid-area: 1 / 5 / 2 / 7; 
    overflow:hidden;
    padding:0!important;
}

.circle {
    background: rgb(199,81,70);
    background: radial-gradient(circle, rgba(199,81,70,1) 0%, rgba(199,81,70,0) 65%, rgba(199,81,70,0) 100%);
    width:140%;
    height:140%;
    opacity:70%;
    right:-40%;
    top:-40%;
    position:absolute;
}


.div2 .menu {
    display:flex;
    align-items:left;
    justify-content:flex-start;
    gap:24px;
    flex-direction:column;
    margin-top:32px;
    padding-left:32px;
    z-index:999999;
}

.div2 .menu a, .skip {
    background-color:var(--grey-100);
    border:1px solid var(--grey-100);
    display:flex;
    align-items:center;
    justify-content:center;
    width:50px;
    height:50px;
    color:var(--grey-600);
    font-size:2rem;
    padding:10px;
    border-radius:8px;
    transition:0.2s all ease-in;
}

.skip {
    border-radius:100%;
    position:absolute;
    bottom:57px;
    left:32px;
}

.div2 .menu a:hover, .skip:hover, .workheader a:hover, .pageinfo .menu a:hover, .pageinfo a:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition:0.2s all ease-in;
    border-color:var(--accent-main);
}

.div3 { 
    grid-area: 2 / 1 / 3 / 4; 

}
.div4 { grid-area: 2 / 4 / 3 / 7; }
.div5 { grid-area: 3 / 1 / 4 / 4; }
.div6 { 
    grid-area: 3 / 4 / 4 / 7; 
    display:flex;
    flex-direction:column;
    justify-content:space-between;}
    
.workheader {
    padding:40px;
    width:calc(100% - 80px);
    font-size:2.3rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:120px;
    gap:32px;
    line-height:140%;
}

.workheader a {
    font-size:2rem;
    color:var(--grey-50);
    background-color:var(--accent-main);
    display:flex;
    align-items:center;
    justify-content:center;
    width:40px;
    height:40px;
    padding:10px;
    border-radius:100%;
    transition:0.2s all ease-in;
}

.workimg1, .workimg2, .colorblock {
    width:100%;
    border-radius: 0 0 16px 16px;
    margin:0;
    padding:0;
}

.workimg1 img, .workimg2 img {
    width:100%;
    height:auto;
    border-radius: 0 0 16px 16px;
    padding:0;
    margin:0;
    transition: transform .4s;
}

.herogrid > div:hover img {
    transform: scale(1.05); 
}

.workimg2 {
    border-radius:16px 16px 0 0;
}

.workimg2 img {
    border-radius:16px 16px 0 0;
}

.worksummary {
    padding:40px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.worksummary ion-icon {
    font-size:3rem;
}

.colorblock {
    background-color:var(--accent-main);
    height:400px;
}

/* general page styling */

#pagecontainer {
    width:100vw;
    padding: 88px 0;
}

.pageinfo {
    width:60%;
    margin:auto;
}

.pageinfo h2 {
    font-size:3rem;
    font-weight:400;
    line-height:120%;
}

.pageinfo h3 {
    font-size:1.5rem;
    font-weight:400;
    color:var(--grey-600);
}

.pageinfo blockquote {
    border-left:1px solid var(--accent-main);
    padding-left:24px;
}

.pageinfo img {
    width:100%;
    height:auto;
}

/* contact page styling */

.pageinfo .menu {
    display:flex;
    align-items:center;
    gap:16px;
    padding-top:16px;
}

.pageinfo .menu a {
    background-color:var(--grey-200);
    border:1px solid var(--grey-200);
    padding:4px 16px;
    border-radius:16px;
    color:var(--grey-700);
    display:flex;
    align-items:center;
    gap:8px;
    text-decoration:none;
    font-weight:600;
    transition:0.2s all ease-in;
}

.pageinfo .menu a:hover {
    border-color:var(--accent-main);
}

/* contact page stylings */

.workintro {
    display: flex;
    gap: 30px;
    align-items: center;
}

.workintro div:nth-child(2) {
    background-color: var(--grey-200);
    padding: 25px;
    border-radius: 8px;
    color: var(--bg-700);
}

.workintro h3 {
    font-size:1.7rem;

}

.pagechallenge {
    width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  background-color: var(--grey-200);
  color: var(--grey-700);
  margin: 48px 0;
    margin-bottom: 48px;
  margin-bottom: 0;
  padding: 48px 0;
    padding-bottom: 48px;
  padding-bottom: 80px;
  margin-bottom:48px;

}

.pagechallenge div {
    width: 40vw;
    margin: auto;
  }

  .pagechallenge h1 {
    text-align:center;
    font-weight:400;
  }

  .articlemain {
    width: 50vw;
    margin: auto;
    padding-bottom: 100px;
  }

  .articlemain img {
    width:100%;
    height:auto;
  }
  
  .imagegrid {
    display: flex;
    direction: row;
    gap: 2px;
  }
  
  .imagegrid.three img {
    width: 33%;
    height: auto;
  }
  
  .imagegrid.two img {
    width: 50%;
    height: auto;
  }
  
  .imagegrid.four img {
    width: 25%;
    height: auto;
  }

.articlemain a, .pageinfo a {
    font-size: 1em;
    letter-spacing: 0.9px;
    text-decoration: none;
    background-color: var(--accent-main);
    color:var(--grey-700);
    padding: 10px 25px;
    border-radius: 16px;
    text-align: center;
    font-weight: bold;
    transition: 0.5s;
    text-align: center;
    margin: 0 50px !important;
  }

  .pageinfo a {
    margin:auto;
    transition:0.2s all ease-in;
  }
  
  /**mobile adjustments**/

  @media (max-width: 700px) {
    .herogrid {
      display:flex;
      flex-direction:column;
      gap:24px;
    }
    
    .div2 .menu {
        flex-direction:row;
    }
    .workintro {
        display: flex;
        gap: 30px;
        flex-direction: column;
        align-items: center;
      }
    
      .workintro div:nth-child(2) {
        padding: 25px;
        border-radius: 8px;
      }
    
      #articlemain {
        width: 90vw;
        margin: auto;
        padding-bottom: 100px;
      }
    
      #article a {
        font-size: 0.7em;
      }
    
      .pagechallenge {
        width: 100vw;
        position: relative;
        left: calc(-50vw + 50%);
        margin: 20px 0;
        padding: 20px 0;
        padding-bottom: 40px;
      }
    
      .pagechallenge div {
        width: 60vw;
        margin: auto;
      }
    
      .pagechallenge h1 {
        line-height: 120%;
      }
    
      #workgrid {
        width: 80vw;
        margin: auto;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
      }
    
      .contactlinks {
        flex-direction: column;
      }
  }
  